<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.algo.smartgwt.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/smartgwt/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>courseAdd</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.course.Add</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>courseAdd</servlet-name>
    <url-pattern>/smartgwt/courseadd</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>courseNew</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.course.New</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>courseNew</servlet-name>
    <url-pattern>/smartgwt/coursenew</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>courseFetch</servlet-name>
    <!-- <servlet-class>com.algo.smartgwt.server.datas.course.CourseFetch</servlet-class> -->
	<servlet-class>com.algo.smartgwt.server.datas.course.CourseFetchDBObj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseFetch</servlet-name>
    <url-pattern>/smartgwt/course/fetch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>courseAdd</servlet-name>
    <!-- <servlet-class>com.algo.smartgwt.server.datas.course.CourseAdd</servlet-class> -->
	<servlet-class>com.algo.smartgwt.server.datas.course.CourseAddDBObj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseAdd</servlet-name>
    <url-pattern>/smartgwt/course/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>courseUpdate</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.course.CourseUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseUpdate</servlet-name>
    <url-pattern>/smartgwt/course/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>courseDelete</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.course.CourseDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseDelete</servlet-name>
    <url-pattern>/smartgwt/course/remove</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>chapterFetch</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.chapter.ChapterFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapterFetch</servlet-name>
    <url-pattern>/smartgwt/chapter/fetch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chapterAdd</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.chapter.ChapterAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapterAdd</servlet-name>
    <url-pattern>/smartgwt/chapter/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chapterUpdate</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.chapter.ChapterUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapterUpdate</servlet-name>
    <url-pattern>/smartgwt/chapter/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chapterDelete</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.chapter.ChapterDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chapterDelete</servlet-name>
    <url-pattern>/smartgwt/chapter/remove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pageFetch</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.page.PageFetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageFetch</servlet-name>
    <url-pattern>/smartgwt/page/fetch</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pageAdd</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.page.PageAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageAdd</servlet-name>
    <url-pattern>/smartgwt/page/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pageUpdate</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.page.PageUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageUpdate</servlet-name>
    <url-pattern>/smartgwt/page/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pageDelete</servlet-name>
    <servlet-class>com.algo.smartgwt.server.datas.page.PageDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageDelete</servlet-name>
    <url-pattern>/smartgwt/page/remove</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SmartGWT.html</welcome-file>
  </welcome-file-list>

</web-app>
